* {
    box-sizing: border-box;
}
body{
    background-color: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 30px;
}
.calculator{
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
}
.display{
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 20px;
    text-align: right;
    font-size: 40px;
}
.calc-buttons{
    padding: 20px;
    display: grid;
    grid-template: repeat(6,1fr) / repeat(4,1fr);
    grid-gap: 10px;

}
button{
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    padding: 20px;
    color: white;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
}
.clear{
    grid-column: span 2;
    background: blue;
}
.delete{
    grid-column: span 2;
    background: red;
}
.equalKey{
    background: greenyellow;
    grid-column: span 4;
}
.zero{
    grid-column: span 2;
}
